@inherits DSW.ViewEngines.Razor.DSWRazorViewBase<dynamic>
<div class="container">
  <form method="post" action="/user/regist">
	<div id="" class="k-content">
		<h3>사용자 등록</h3>
        <label for="userId">아이디</label><span class="">*</span>
        <input type="text" name="userId" /><br />
        <label for="name">이름</label><span class="">*</span>
        <input type="text" name="name" /><br />
        <input type="submit" value="등록"/>
	</div>
  </form>
</div>