@inherits DSW.ViewEngines.Razor.DSWRazorViewBase<dynamic>
<div class="container">
  <div id="example" class="k-content">
    <table id="grid">

    <script>
        $(document).ready(function() {
          $.ajax({
            type:"POST",
            url:"http://localhost/user/list",
            dataType:"json",
            success:function (jData) {
              $("#grid").kendoGrid({
                        dataSource: {
                            data: jData,
                            schema: {
                                model: {
                                    fields: {
                                        Name: { type: "string" },
                                        UserId: { type: "string" },
                                        GroupId: { type: "string" },
                                        DelYn: { type: "string" }
                                    }
                                }
                            },                            
                            pageSize: 20,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        height: 430,
                        filterable: true,
                        sortable: true,
                        pageable: true
                    });
            }
          });
        });
    </script>
</div>
</div>