@inherits DSW.ViewEngines.Razor.DSWRazorViewBase<dynamic>
@{
  var schecked = "";
  if (Model.IsRemember == "true")
    schecked = "checked='checked'";
}
<div class="container">
  <form class="form-signin" method="POST">
    <h2 class="form-signin-heading">로그인 하세요</h2>
    @if (Model.hasError.HasValue == true)
    {
    <div class="alert">
      <i class="icon-pencil"></i> 아이디가 존재하지 않거나 암호가 일치하지 않습니다.
    </div>
    }
    <input type="text" class="input-block-level" name="id" placeholder="사용자 아이디" value="@Model.Id"/>
    <input type="password" class="input-block-level" name="passwd" placeholder="암호" />
    <label class="checkbox">
      <input type="checkbox" value="true" name="isRemember" @schecked /> 로그인 상태 유지
    </label>
    <button class="btn btn-large btn-primary" type="submit">로그인</button>
  </form>
</div> <!-- /container -->
@section head
{
   <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
}
